ion-toolbar {
    --background: var(--ion-color-primary);
    --color: var(--ion-color-primary-constrast);
}
ion-back-button{
    --color: white;
}
.bordered-col {
    border: 0.5px solid gray;
    border-radius: 20px;
}